<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Time</th>
      <th>Max guests</th>
      <th align=center>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.description %></td>
        <td align=center><%= movie.time %></td>
        <td align=center><%= movie.max_guests %></td>
        <td align=center><%= link_to movie.user.name, user_path(movie.user.id) %></td>
        <%if session[:user_id] == User.find_by(name:"admin").id%>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if logged_in?%>
<%= link_to 'New Movie', new_movie_path %>
<%end%>
