<p id="notice"><%= notice %></p>
<%session[:movie] = @movie%>
<div>
<%if @movie.img_url == ""%>
<img src= "https://us.bgxme.com/images/no-img.png" alt="No Image" width="50" height="60">
<%else%>
<img src=<%=@movie.img_url%> alt="<%=@movie.title%>" width="500" height="600">
<%end%>
</div>

<h3>
  <strong>Title:</strong>
  <%= @movie.title %>
</h3>

<h3>
  <strong>Description:</strong>
  <%= @movie.description %>
</h3>

<h3 color:blue>
  <strong>Time:</strong>
  <%= @movie.time %>
</h3>

<h3>
  <strong>Max guests:</strong>
  <%= @movie.max_guests %>
</h3>

<h3>
  <strong>Host:</strong>
  <%= link_to @movie.user.name, user_path(@movie.user_id) %>
</h3>

<p>
  <strong>Spots Remaining</strong>
  <%= @movie.max_guests - @movie.attendences.count%>
</p>
<%= button_to 'Join Event', new_attendence_path, :method => :get %> <br>

<div>
  <strong>Users Who Are Attending Event!</strong><br>
  <% @movie.attendences.each do |attendence|%>
  <li><%= link_to attendence.user.name, user_path(attendence.user_id)%></li>
  <% end%>
</div>
<br>

<%if session[:user_id] == @movie.user_id%>
<%= link_to 'Join Event', edit_attendence_path(@movie) %> |
<%= link_to 'Edit Event', edit_movie_path(@movie) %> |
<%end%>

<%= link_to 'Comments', posts_path %>
<%= link_to 'See All Events', movies_path %>
