<p id="notice"><%= notice %></p>
<%session[:movie] = @movie%>

<section class="box">
  <div>
  <%if @movie.img_url == ""%>
    <img src= "https://us.bgxme.com/images/no-img.png" alt="No Image" width="50" height="60">
    <%else%>
    <img src=<%=@movie.img_url%> alt="<%=@movie.title%>" width="500" height="600">
    <%end%>
  </div>
  <br>

  <p id="title">
    <strong>Title:</strong>
    <%= @movie.title %>
  </p>

  <p id="subtitle">
    <strong>Description:</strong>
    <%= @movie.description %>
  </p>

  <p color:blue id="subtitle">
    <strong>Time:</strong>
    <%= @movie.time %>
  </p>

  <p id="subtitle">
    <strong>Max guests:</strong>
    <%= @movie.max_guests %>
  </p>

  <p id="subtitle">
    <strong>Host:</strong>
    <%= link_to @movie.user.name, user_path(@movie.user_id) %>
  </p>

  <p id="subtitle">
    <strong>Spots Remaining</strong>
    <%= @movie.spots_left%>
  </p>

  <div>
    <p id="subtitle"><strong>Users Who Are Attending Event!</strong><br><p>
    <% @movie.attendences.each do |attendence|%>
    <li ><%= link_to attendence.user.name, user_path(attendence.user_id)%></li>
    <% end%>
  </div>
  <br>
  <div>
    <%if @movie.user.id == current_user.id%>
    <button id="left"><%= link_to 'Edit Event', edit_movie_path(@movie) %> </button>
    <%end%>
    
    <button id="left"><%= link_to 'Join Event', new_attendence_path%> </button>
    <button id="left"><%= link_to 'Event Comments', posts_path %></button>
    <%if session[:user_id] == @movie.user_id%>
    <%end%>
  </div>
  <br><br><br>

</section>
