    <p id="notice"><%= notice %></p>
    <section>
      <div class="box">
        <p id="subtitle"><strong>User Name:</strong> <%= @user.name %></p><br>
        <% if @user.user_img_url == "" || @user.user_img_url == nil%>
          <img src= "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="No Image" width="100" height="100">
        <% else %>
          <img src=<%=@user.user_img_url%> alt="<%=@user.name%>" width="120" height="100">
        <% end %>
     
        <%if params[:id].to_i == current_user.id || current_user.id == User.find_by(name:"admin").id%>
          <button class="button is-light">
          <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }%>
          </button>
          <button class="button is-light">
            <%= link_to 'Edit Account', edit_user_path(@user) %> 
          </button>
        <button class = "button is-light"> <%=link_to 'Host A Movie', new_movie_path%></button> 
        <%end%>
        <div class="box">
        <h1 class="is-size-4"><strong>Biography:</strong><br><br></h1>
        <h1 class="is-size-5"><%=@user.bio%></h1>
        </div>


      </div>
    </section>
      <br>
    <section class ="box">
          <h1 id="title"> Movies <%=@user.name%> is hosting </h1>
          <ul>
            <% if @user.hosting.count != 0  %>
                <% @user.hosting.each do |movie| %>
                  <li id="subtitle"><%=link_to movie.title, movie_path(movie)%></li>
                <% end %>
            <% else %>
                  <li id="subtitle"><%= "This user is not currently hosting any movies" %></li>
            <% end %>
          </ul>

          <br>
          
          <h1 id="title">Movies <%=@user.name%> is attending</h1>
            <ul>
          <% if @user.attending.count != 0 %>
              <% @user.attending.each do |attendence|%>
                  <li id="subtitle"><%= link_to attendence.movie.title, movie_path(attendence.movie) %></li>
                <%end %>
          <% else %>
                <li id="subtitle"><%= "This user is not attending any movies" %></li>
            </ul>
          <% end %>

          <br>

          <h1 id="title">Movies <%=@user.name%> has hosted</h1>
              <ul id="subtitle">
          <% unless @user.hosted.count == 0 %>
          <% @user.hosted.each do |movie|%>
              <li><%= link_to movie.title, movie_path(movie) %></li>
          <%end %>
          <% else %>
                <li><%= "This user has not hosted any previous movies" %></li>
              </ul>
          <% end %>

         <br>

          <h1 id="title">Movies <%=@user.name%> has seen</h1>
            <ul id="subtitle">
          <% unless @user.attended.count == 0 %>
              <% @user.attended.each do |attendence|%>
                <% if attendence.movie.time < Time.now %>
                  <li><%= link_to attendence.movie.title, movie_path(attendence.movie)%></li>
                <%end %>
              <%end %>
          <% else %>
                <li><%= "This user has not attended any previous movies" %></li>
              </ul>
          <% end %>

    </section>
    <section>
        <div class="box" id ="right">
          <h1 id="title">User Statistics</h1>
          <h1 id="subtitle"><%="#{@user.name}'s current average event rating is " %><%=@user.avg_rating%><h1>
          <h1 id="subtitle"><%="#{@user.name}'s total number of event ratings is " %><%=@user.total_ratings%><h1>
          <h1 id="subtitle"><%="#{@user.name}'s total number of events held is " %><%=@user.movies.count%><h1>
          <h1 id="subtitle"><%="#{@user.name}'s total number of event attendences is " %><%=@user.movies.count + @user.attendences.count%><h1>
        </div>
    </section>
