<p id="notice"><%= notice %></p>
<div>
<% if @user.user_img_url == "" %>
  <img src= "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="No Image" width="100" height="100">
<% else %>
  <img src=<%=@user.user_img_url%> alt="<%=@user.name%>" width="120" height="100">
<% end %>
<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>


<div class ="host">
<h3>Movies I'm hosting</h3>
<% unless @user.hosting.count == 0  %>
  <ul>
    <% @user.hosting.each do |movie| %>
      <li><%=  movie.title%></li>
    <% end %>
  </ul>

  </div>
  <% else %>
    <ul>
      <li><%= "This user is not currently hosting any movies" %></li>
    </ul>
<% end %>

<div class ="attending">
<h3>Movies I'm attending</h3>
<% unless @user.attending.count == 0 %>
  <ul>
    <% @user.attending.each do |attendence|%>
        <li><%= attendence.movie.title %></li>
      <%end %>
  </ul>
  </div>
<% else %>
    <ul>
      <li><%= "This user is not attending any movies" %></li>
    </ul>
<% end %>

<div class ="history">
<h3>Movies I've hosted</h3>
<% unless @user.hosted.count == 0 %>
<% @user.hosted.each do |movie|%>
    <li><%= movie.title %></li>
<%end %>
<% else %>
    <ul>
      <li><%= "This user has not hosted any previous movies" %></li>
    </ul>
<% end %>

<h3>Movies I've seen</h3>
<% unless @user.attended.count == 0 %>
<ul>
<% @user.attended.each do |attendence|%>
  <% if attendence.movie.time < Time.now %>
    <li><%= attendence.movie.title%></li>
  <%end %>
<%end %>
</ul>
</div>
<% else %>
    <ul>
      <li><%= "This user has not attended any previous movies" %></li>
    </ul>
<% end %>


<%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }%>
<%= link_to 'Edit User', edit_user_path(@user) %> 
<%= link_to 'User Index', users_path %>