<h1>Comments</h1>
<ul>
<%if current_movie.posts.length == 0%>
<h4> This movie has no comments<h4>
<%else%>
<% current_movie.posts.each do |post| %>
    <li>
    <strong><%= post.post_title %></strong><br>
    <strong>User: </strong><%= post.user.name %><br>
    <strong>Movie name: </strong><%= post.movie.title %><br>
    <strong>Rating: </strong><%= post.rating %><br>
    <strong>Comment</strong> <br>
    <%= post.comment %>
    </li>
    <% end %>
</ul>
<%end%>

<%= link_to "Add New Comment For #{current_movie.title}", new_post_path %>
