<h1 class="content is-large">Comments</h1>
<ul>
<%if current_movie.posts.length == 0%>
<h4> This movie has no comments<h4>
<%else%>
<% current_movie.posts.each do |post| %>
    <li>
    <div class="box">
        <div class="notification">
        <% if post.user.user_img_url == "" || post.user.user_img_url == nil %>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="User image" width="64" height="64"><br>
        <% else %>    
            <img src=<%= post.user.user_img_url %> alt="user image" width="64" height="64"><br>
        <% end %>
        <strong>Post title: </strong><%= post.post_title %><br>
        <strong>User: </strong><%= post.user.name %><br>
        <strong>Movie name: </strong><%= post.movie.title %><br>
        <strong>Rating: </strong><%= post.rating %><br><br>
        <strong>Comment: </strong>
        <% if post.user.id == current_user.id || session[:user_id] == User.find_by(name: "admin").id%>
            <%= post.comment %><br>
            <%= link_to "Edit comment", edit_post_path(post) %>
            <%= link_to "Delete Comment", post_path(post), :method => :delete %>
        <% end %>
        </div>
    </li>
    <% end %>
</ul>
<%end%><br>
<div class="Comment box">
    <h1 class="content is-large"><%= "Add New Comment For #{current_movie.title}"%></h1>

    <% @post = Post.new %>
    <%= render 'posts/form', post: @post%>
</div>


