<h1>Comments</h1>

<ul>
<% @posts.each do |post| %>
    <li>
    <strong><%= post.post_title %></strong><br>
    <strong>User: </strong><%= post.user.name %><br>
    <strong>Movie name: </strong><%= post.movie.title %><br>
    <strong>Rating: </strong><%= post.rating %><br>
    <strong>Comment</strong> <br>
    <%= post.comment %>
    </li>
    <% end %>
</ul>
