<figure class="image is-3by1">
  <img src="https://cdn.pixabay.com/photo/2020/05/12/17/04/wind-turbine-5163993_1280.jpg">
</figure><br><br>
<div class="columns is-centered">
    <div class="tile is-ancestor">
        <div class="tile">
            <div class="tile is-parent is-1 ml-6">
                <article class="tile is-child is-primary is-light">
                    <div class="content">
                        <%# <p class="title">What is Digital Meetup?</p>
                        <p class="subtitle">Digital Meetup is an app that trys to mimic the experince of going to the movies, going drinking with your friends, and more. All from the comfort of your own home.</p> %>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child notification is-primary is-light">
                    <div class="content">
                        <p class="title">What is Digital Meetup?</p>
                        <p class="subtitle">Digital Meetup is an app that trys to mimic the experince of going to the movies, going drinking with your friends, and more. All from the comfort of your own home.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-3 is-vertical">
                <article class="tile is-child notification is-black is-light">
                    <div class="content">
                        <p class="title">And what can it do?</p>
                        <p class="subtitle">You can create, host, and sign up to attend all types of events and have meet abunch of new people.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child notification is-black is-light">
                    <div class="content">
                        <p class="title">PlaceHolder</p>
                        <p class="subtitle">Placeholder text.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div> 


<p class=" content has-text-centered title box radius-small">Here is a sample of some upcoming events!</p>

<div class="tile is-ancestor">
    <div class="tile">
        <div class="tile is-parent">
            <article class=" tile is-child notification is-black is-light">
                <div class="content">
                    <%movie1=Movie.get_sample%>
                    <div align=center>
                        <% if movie1.img_url == "" || movie1.img_url ==nil %>
                            <img src= "https://us.bgxme.com/images/no-img.png" alt="No Image" width="50" height="60">
                        <%else%>
                            <img src= <%= movie1.img_url %> alt="Event Image" width="50" height="60">
                        <% end %><br>
                        <%=link_to movie1.title, movie_path(movie1)%>: <br>
                        <p word-wrap: break-word;><%=movie1.description%></p>
                    </div>
                </div>
            </article>

            <article class="tile is-child notification is-black is-light">
                <%movie2=Movie.get_sample%>
                <div align=center>
                    <% if movie2.img_url == "" || movie2.img_url == nil %>
                        <img src= "https://us.bgxme.com/images/no-img.png" alt="No Image" width="50" height="60">
                    <%else%>
                        <img src= <%=movie2.img_url %> alt="Event Image" width="50" height="60">
                    <% end %><br>
                    <%=link_to movie2.title, movie_path(movie2)%>: <br>
                    <p word-wrap: break-word;><%=movie2.description%></p>
                </div>
            </article>

            <article class="tile is-child notification is-black is-light">
                <%movie3=Movie.get_sample%>
                <div align=center>
                    <% if movie3.img_url == "" || movie3.img_url == nil %>
                        <img src= "https://us.bgxme.com/images/no-img.png" alt="No Image" width="50" height="60">
                    <%else%>
                        <img src= <%=movie3.img_url %> alt="Event Image" width="50" height="60">
                    <% end %><br>
                    <%=link_to movie3.title, movie_path(movie3)%>: <br>
                    <p word-wrap: break-word;><%=movie3.description%></p>
                </div>
            </article>
        </div>
    </div>
</div>


