<!DOCTYPE html>
<html>
  <head>
    <title>DigitalMeetupApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> 
    <h1>
        <%= link_to "Homepage", homepage_path%>
        <%= link_to "Users", users_path%> 
        <%= link_to "Movies", movies_path%>
        
        <% if !logged_in? %>
          <a href="login">Sign In</a>
        <%else %>
          <%= link_to "Logout", logout_path, :method => :post %>
        <% end %>

    </h1>
    
    </header>
    <%= yield %>
  </body>
</html>
